@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="side">
        <h2>À propos de moi</h2>
        <h5>Photo :</h5>
        <img src="~/images/picture.jpg" />
        <address>
            <abbr title="Nom">Nom :</abbr>
            Morre<br />
            <abbr title="Prénom">Prénom :</abbr>
            Thierry<br />
            Rue du paradis, 17<br />
            6001 Marcinelle<br />
            <abbr title="Tel">Tel :</abbr>
            +32 477 00 00 00<br />
            <abbr title="Email">Email :</abbr>
            <a href="thierry.morre@cognitic.be">thierry.morre@cognitic.be</a>
        </address>
        <img src="~/images/QrCode.png" />
    </div>
    <div class="main">
        <h2>Présentation</h2>
        <h5>dernière mise à jour 10 juillet 2020</h5>
        <p>Passionné par l'informatique...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet viverra ante. Donec fringilla finibus urna, sit amet hendrerit massa elementum ac. Integer finibus, augue ac mattis tincidunt, ligula nisi ultrices massa, eget volutpat quam lacus id nulla. Praesent lobortis diam quis mi accumsan, eget accumsan odio rutrum. Mauris malesuada sodales urna, quis fermentum velit viverra id. Morbi id ligula odio. Vestibulum pretium nisi non risus iaculis, non tincidunt urna vulputate. Mauris lobortis nunc sit amet mauris malesuada ornare. Pellentesque eu enim facilisis, pellentesque justo sit amet, efficitur metus. Maecenas vulputate nec risus ut venenatis. Proin dictum sapien in enim feugiat suscipit. Vivamus quam ante, rutrum nec mauris consequat, imperdiet dictum dolor.</p>
        <br>
        <hr />
        <h2>Compétences</h2>
        <h5>dernière mise à jour 10 juillet 2020</h5>
        <p>Analyse</p>
        <p>Gestion d'équipe</p>
        <p>Maecenas quis est augue. Aliquam ullamcorper magna eu lorem bibendum suscipit. Pellentesque diam augue, mattis at erat nec, elementum viverra purus. Ut vel felis eu dui blandit ornare sit amet vehicula nunc. Morbi eget massa eu arcu ornare sodales at vitae urna. Aenean id vulputate elit. Nullam ligula urna, congue eget diam tristique, aliquam pellentesque erat.</p>
        <hr />
        <h2>Formation</h2>
        <h5>dernière mise à jour 10 juillet 2020</h5>
        <div class="fakeimg" style="height:200px;">Bannière Technofutur Tic</div>
        <p>Formation développeur .Net Technofutur..</p>
        <p>Maecenas quis est augue. Aliquam ullamcorper magna eu lorem bibendum suscipit. Pellentesque diam augue, mattis at erat nec, elementum viverra purus. Ut vel felis eu dui blandit ornare sit amet vehicula nunc. Morbi eget massa eu arcu ornare sodales at vitae urna. Aenean id vulputate elit. Nullam ligula urna, congue eget diam tristique, aliquam pellentesque erat.</p>
        <hr />
        <h2>Hobbies</h2>
        <h5>dernière mise à jour 10 juillet 2020</h5>
        <p>Analyse</p>
        <p>Gestion d'équipe</p>
        <p>Maecenas quis est augue. Aliquam ullamcorper magna eu lorem bibendum suscipit. Pellentesque diam augue, mattis at erat nec, elementum viverra purus. Ut vel felis eu dui blandit ornare sit amet vehicula nunc. Morbi eget massa eu arcu ornare sodales at vitae urna. Aenean id vulputate elit. Nullam ligula urna, congue eget diam tristique, aliquam pellentesque erat.</p>
    </div>
</div>
