@{
    ViewData["Title"] = "Contact";
}

<div class="formrow">
    <div class="side">
        <address>
            7 rue du bosquet<br />
            1348 Louvain-la-neuve<br />
            <abbr title="Phone">Tel :</abbr>
            +32 010 48 64 11<br />
            <abbr title="Email">Email :</abbr>
            <a href="mailto:info@cognitic.be">info@cognitic.be</a>
        </address>
    </div>
    <div class="main">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2529.19044459693!2d4.63051201612083!3d50.660724479504985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c17e8631a1dd51%3A0x8f3d201960196ef3!2sRue%20du%20Bosquet%207%2C%201348%20Ottignies-Louvain-la-Neuve!5e0!3m2!1sfr!2sbe!4v1594376498748!5m2!1sfr!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>

<form>
    <div class="formrow">
        <div class="title">
            <span>Votre adresse :</span>
        </div>
    </div>
    <div class="formrow">
        <div class="input">
            <input type="email" name="Email" />
        </div>
    </div>
    <div class="formrow">
        <div class="title">
            <span>Objet :</span>
        </div>
    </div>
    <div class="formrow">
        <div class="input">
            <input type="text" name="Object" />
        </div>
    </div>
    <div class="formrow">
        <div class="title">
            <span>Message :</span>
        </div>
    </div>
    <div class="formrow">
        <div class="input">
            <textarea name="Object" rows="7"></textarea>
        </div>
    </div>
    <div class="formrow">
        <div class="input">
            <input type="submit" value="Envoi" />
        </div>
    </div>
</form>